# .NET
bin/
obj/
publish/

# Client
client/dist/
client/dist-electron/
client/release/
client/node_modules/
client/.vite/

# Server
server/target/
server/.mvn/
server/mvnw
server/mvnw.cmd

# IDE
.idea/
.vscode/
*.iml
*.suo
*.user

# OS
.DS_Store
Thumbs.db

# Build
*.log
